<?xml version="1.0" encoding="UTF-8"?>
<!--
    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.
-->

<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.0//EN"
	"https://resources.openmrs.org/doctype/config-1.6.dtd">
<module configVersion="1.6">

	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.o3forms</package>
	<author>Ian Bacher</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.o3forms.O3FormsActivator</activator>
	
	<require_version>${openmrsPlatformVersion}</require_version>

	<require_modules>
		<require_module version="${webserviceRestVersion}">org.openmrs.module.webservices.rest</require_module>
	</require_modules>

</module>
